.layout {
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    gap: 20px;
    grid-template-columns: 1fr 3fr;
}
header {grid-area: header;background-color: blueviolet;}
aside {grid-area: aside;background-color: lightcoral;}
main {grid-area: main;background-color: lightseagreen;}
footer {grid-area: footer;background-color: darkorange;}

.layout > *{
    color: rgb(214, 197, 197);
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
}
