.boton  {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.5x ease-in-out;
}
.boton:hover {
    background-color: darkorange;
}

